doctype html
html
	head
		meta(charset="utf8")
		meta(name="viewport", content="width=device-width, initial-scale=1")
		if piwik
			script(type="text/javascript").
				var _paq = _paq || [];
				  /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
				_paq.push(['trackPageView']);
				_paq.push(['enableLinkTracking']);
				(function() {
					var u="#{piwik.track_url}";
					_paq.push(['setTrackerUrl', u+'piwik.php']);
					_paq.push(['setSiteId', '#{piwik.site_id}']);
					var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
					g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
				})();
		block links
			link(rel="stylesheet", type="text/css", href="/style/main.css")
			link(rel="stylesheet", type="text/css", href="/style/footer.css")
			link(rel="stylesheet", type="text/css", href="//fonts.googleapis.com/css?family=Open+Sans")
			link(rel="stylesheet", type="text/css", href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
			script(src="/script/main.js")
		title
			block title
	body
		block banner
			.banner
				.logo
					.part1 Icy
					.part2 Network
		block dialog
			.dialog-drop#dialog
				.dialog
					.head
						#title
						#close
							i.fa.fa-fw.fa-times
					.content#content
		block nav
			.anchor
			nav.navigator
				ul
					li.hidden#navlogo
						a(href="/")
							.logo.small
								.part1 Icy
								.part2 Network
					li.fullview
						a.scroll(href="/#home") Home
					li.fullview
						a.scroll(href="/#news") News
				ul.fullview.floating
					if user
						li#user
							a(href="/user/manage") #{user.display_name}
						li
							a(href="/logout") Log out
					else
						li
							a(href="/login") Log in
				ul.mobview.floating
					li.cssextend
						a#mobile(href="#")
							i.fa.fa-fw.fa-bars
						ul.flexview
							li
								a.scroll(href="/#home") Home
							li
								a.scroll(href="/#news") News
							.division
							if user
								li#user
									a(href="/user/manage") #{user.display_name}
								li
									a(href="/logout") Log out
							else
								li
									a(href="/login") Log in
		block body
		block footer
			footer
				img.squeebot(src="/static/image/squeebot.svg")
				span.copyright
					.logo.small
							.part1 Icy
							.part2 Network
					.social
						a.socialbtn#github(href="https://github.com/IcyNet/" target="_blank")
							i.fa.fa-fw.fa-github
						a.socialbtn#twitter(href="https://twitter.com/IcyNet" target="_blank")
							i.fa.fa-fw.fa-twitter
						a.socialbtn#discord(href="https://discord.gg/Xe7MKSx" target="_blank")
							span.discordlogo
					span &copy; 2017 - Icy Network - Some Rights Reserved
					br
					span 
						a(href="/docs/terms-of-service") Terms of Service
						span.divider |
						a(href="/docs/privacy-policy") Privacy Policy
						span.divider |
						a(href="/donate") Donate
